body {
  background-color: var(--c5-neutral);
  font-family: var(--font1);
}

.card {
  background-color: var(--c4-neutral);
  width: 330px;
  border-radius: 16px;
  margin: 0 auto;
  margin-block-start: 200px;
  padding-block: 24px;
  padding-inline: 26px;
}

.card--thanks {
  display: grid;
  justify-items: center;
}

.card__img {
  background-color: var(--c3-neutral);
  opacity: 90%;
  padding: 12px;
  border-radius: 50%;
  margin-bottom: 1.05em;
  /* A estrela é um pouco menor */
}

.card__img--thanks {
  border-radius: 0;
  margin-right: 32px;
  background-color: var(--c4-neutral);
}

.card__title {
  font-size: 24px;
  color: var(--c0-neutral);
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1.2px;
  margin-bottom: 16px;
}

.card__desc {
  color: var(--c1-neutral);
  font-size: 15px;
  line-height: 1.5;
}

.card__desc--thanks {
  text-align: center;
}

.card__box-rate {
  color: var(--c1-neutral);
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 15px;
}

.card__rate {
  cursor: pointer;
  background-color: var(--c3-neutral);
  clip-path: circle();
  padding: 18px;
  transition: 100ms;
}

.card__rate:hover {
  background-color: var(--c2-neutral);
  color: var(--c0-neutral);
}

input[type="radio"]:checked + .card__rate {
  background-color: var(--c0-primary);
  color: var(--c0-neutral);
}

input[type="radio"] {
  appearance: none;
  position: absolute;
  /* Checar a acessibilidade */
}

.card__rate--value {
  color: var(--c0-primary);
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffffff10;
  text-align: center;
  display: flex;
  justify-self: center;
  margin-bottom: 20px;
}

.attribution,
.sub-card {
  display: none;
}

.hide {
  display: none;
}
