:root {
    /* Primary */
    --c0-primary: hsl(25, 97%, 53%);

    /* Neutral */
    --c0-neutral: hsl(0, 0%, 100%);
    --c1-neutral: hsl(217, 12%, 63%);
    --c2-neutral: hsl(216, 12%, 54%);
    --c3-neutral: hsl(213, 19%, 18%);
    --c4-neutral: hsl(215, 22%, 15%);
    --c5-neutral: hsl(216, 12%, 8%);


    /* Font */
    --font1: 'Overpass';
}